

.rich-text-area:focused .paragraph-tile {
    -fx-background-color: mistyrose;
}



.rich-text-area .paragraph-tile {
    -fx-background-color: mistyrose;
    -fx-padding: 0 0 0 2;
}



.rich-text-area {
    -fx-border-color: aliceblue aliceblue aliceblue black;
    -fx-border-width: 0 0 0 0;
    -fx-padding: 0 0 0 3;
}


.rich-text-area:focused {
    -fx-border-width: 0;
    -fx-border-color: aliceblue;
}



.text-flow:focused {
    -fx-border-color: blue;
    -fx-border-width: 1 1 1 1;
}



#text-flow {
    -fx-border-color: red;
    -fx-border-width: 1 1 1 1;
}


